:root {
  --primary: #5B48A4;
  --secondary: #755FC9;
  --terciary: #D6CCFD;
  --overlay: rgba(73, 64, 109, 0.95);
  --red: #F27878;
  --green: #82EDA7;
  --white: #F4F4F4;
  --light-grey: #E2E2E2;
  --dark-grey: #747474;
}

/* --- DEFAULTS --- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

label, input {
  font-size: 1.125rem;
}

input {
  display: block;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;

  padding: .35em 0;
  text-align: center;
  color: var(--dark-grey);
}

input[type=submit] {
  border: none;
}

input[type=submit]:hover,
input[type=submit]:focus {
  cursor: pointer;
}

/* --- GLOBAL --- */
#root {
  min-height: 75vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  font-weight: 500;
  border-radius: 5px;
  padding: 1em 1.45em;
}

.btn.btn-primary {
  font-weight: 500;
  border-radius: 5px;
  
  background: var(--secondary);
  color: var(--white);
  border: 2px solid transparent;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: var(--terciary);
  color: var(--primary);
}

.btn.btn-secondary {
  background: var(--primary);
  color: var(--white);
  border: 2px solid var(--white);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  background: var(--secondary);
}

/* Pop-up */
.pop-up {
  width: 40%;
  margin: 0 auto;
  padding: 5em 7em;
  border-radius: 15px;
  position: relative;
  
  background: var(--primary);
}

.pop-up__close{
  position: absolute;
  right: 1.56rem;
  top: 1.56rem;
  color: var(--terciary);
  font-size: 1.35rem;
}

.pop-up__close svg {
  border-radius: 10px;
}

.pop-up__close:hover,
.pop-up__close:focus {
  color: var(--red);
}

/* --- HOME --- */
/* PreviousSkillRanking */
section#previous-sr {
  color: var(--terciary);
  padding: 2em;
  text-align: center;
}

section#previous-sr .title {
  font-size: 1.5rem;
}

section#previous-sr .prev-sr {
  margin: 0.55em 0 1.66em;
  font-size: 2.25rem;
}

section#previous-sr .sr-difference {
  font-size: 1.5rem;
  display: inline-block;
  background: var(--secondary);
  
  padding: .6em 1.25em;
  border-radius: 5px;
}

section#previous-sr .sr-difference.positive {
  color: var(--green);
}

section#previous-sr .sr-difference.negative {
  color: var(--red);
}

/* CurrentSkillRanking */
section#current-sr {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;
}

section#current-sr p {
  color: var(--terciary);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: .94em;
}

section#current-sr span {
  font-size: 4.5rem;
  font-weight: 700;
  padding: .42em 1.55em;
  background: var(--white);
  color: var(--primary);
  border-radius: 10px;
}

/* HomeActions */
section#home-actions {
  padding: 1.25em 0;
  font-size: 1.125rem;
}

section#home-actions .btn.btn-primary {
  margin-left: 2.5em;
}

/* --- ADD-GAME-STAT --- */
section#add-game-stat {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  background: var(--overlay);
}

section#add-game-stat .form-col {
  display: flex;
}

section#add-game-stat .form-col + .form-col {
  margin-top: 2em;
}

section#add-game-stat .form-group + .form-group {
  margin-left: 6.25em;
}

section#add-game-stat .form-group label {
  color: var(--white);
}

section#add-game-stat .form-group input {
  margin-top: .55em;
}

section#add-game-stat .btn {
  margin: 0 auto;
  padding: .9em 4.15em;
  font-size: 1.25rem;
}

section#add-game-stat .form__submit {
  margin-top: 2.75em;
}

/* --- HISTORY --- */
#history {
  font-size: 1.125rem;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  background: var(--overlay);
}

#history table tr {
  display: flex;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

#history table td {
  padding: 0.5em 1.5em;
}

#history .history__row {
  display: inline-flex;
}
#history .col__sr,
#history .col__healing {
  text-align: center;
}

#history .col__sr {
  width: 15%;
}

#history .col__hero {
  width: 20%;
}


#history .col__healing {
  width: 35%;
}

#history .col__map {
  width: 30%;
}

#history table tbody tr {
  margin-top: 0.83em;
}

#history thead tr {
  background: var(--secondary);
  color: var(--white);
}

#history tbody tr {
  background: var(--white);
  color: var(--dark-grey);
}